body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    font-weight: 300;
}

#uli {
	padding: 16px 16px 16px 60px;
	border: solid black;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.li {
	position: relative;
	font-size: 16px;
	border-bottom: 3px solid #c2bdbc;
	font-family: garamond;
}

#uli .li .deleteBtn {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 25px;
    height: 15px;
    margin: auto 0;
    font-size: 10px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: #cc9a9a;
}

#uli .li .deleteBtn:hover {
	background-color: #fcada9;
}

h1 {
	font-family: Bookman;
    font-size: 60px;
    text-align: center;
}


#displayTodos {
	background-color: transparent;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-right: 15px;
}

#displayTodos:active {
	position:relative;
	top:1px;
}

#toggleAll {
	background-color: transparent;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
}

#toggleAll:active {
	position:relative;
	top:1px;
}

#addTodo {
	background-color: transparent;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-right: 15px;
}

#addTodoText {
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #666666;
    font-family: garamond;
    font-size: 14px;
    padding: 2px 12px;
}

#changeTodo {
	background-color: transparent;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: garamond;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 11px;
    text-decoration: none;
    margin-bottom: 15px;
}

#changeTodoPosition {
	border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #666666;
    font-family: garamond;
    font-size: 11px;
    padding: 2px 5px;
}

#changeTodoText {
	border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #666666;
    font-family: garamond;
    font-size: 11px;
    padding: 2px 5px;
}

#toggleComplete {
	background-color: transparent;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: garamond;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 11px;
    text-decoration: none;
    margin-bottom: 15px;
}

#toggleCompletedPos {
	border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #666666;
    font-family: garamond;
    font-size: 11px;
    padding: 2px 5px;
}